<!DOCTYPE html>
<html>
    <head>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
        body {
            font-family: 'Nunito Sans', sans-serif;
        }
        span {
            font-size: 18px;
            font-style: normal !important;
            font-weight: 600;
        }
        h1 {
            font-size: 24px;
            font-style: normal !important;
        }
        h2 {
            font-size: 28px;
            font-style: normal !important;
        }
        h6 {
            font-size: 14px;    
            font-style: normal !important;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="padding-left: 50px;">            
                <h1>Transaction Report</h1>
                <% result.forEach(i => {%>
                       <h2><%= i.transaction_type.toUpperCase() %></h2>
                       <span>To</span>
                       <h6><%= i.user_name%></h6>
                       <span>Email</span>
                       <h6><%= i.user_email%></h6>
                       <span>Status</span>
                       <h6><%= i.transaction_status%></h6>
                       <span>Notes</span>
                       <h6><%= i.transaction_notes %></h6>
                       <h3>IDR<%= i.transaction_amount.toLocaleString('id-ID') %></h3>
                       <small><%=i.transaction_created_at %></small>
                    <%  });%>
                </table>
             </div>
        </div>
    </body>
</html>